<div class="container">


    <div class="job_list">


        <div class="row">
        <div class="col-md-12">

            <h2> Software Engineer </h2>

        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

            <h4> Organization : Monash University</h4>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">


            <h6> Location : Melbourne, Australia </h6>

        </div>

    </div>


    <div class="row">
        <div class="col-md-12">

             <h6> Renumeration : 60000 </h6>

        </div>

    </div>



        <div class="border-job"> </div>

    <div class="row">

        <div class="col-md-12">

            <p> Lorem Ipsum is simply dummy
                text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                it to make a type specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        </div>


    </div>


        <a href="{% url 'job_details' %}">

            <button class="btn bg-warning clearfix apply-button"  style="float: right"> Details </button>

        </a>



    </div>



    </div>
