{%  extends "base.html" %}

{% block content %}

    <div class="container">



         <div>

                {% if messages %}

                      {% for message in messages %}

                         <p style="color: red; margin-top: 30px"> {{ message }}</p>

                      {% endfor %}

                {%  endif %}

            </div>

            {%  if applications %}

                <div class="text-center" style="margin-top: 20px">

                    <h3> Applicants </h3>

                <table class="table table-dark">
                      <thead>
                        <tr>
                             <th scope="col">#</th>
                             <th scope="col">Applicant name</th>
                             <th scope="col">Matching Score</th>
                             <th scope="col"></th>
                        </tr>
                      </thead>
                        <tbody>

                {%  for item in applications %}


                        <tr>

                          <th scope="row">{{ forloop.counter }}</th>
                             <td>{{ item.seeker_name }}</td>
                             <td>{{ item.matching_score }}</td>
                            <td>
                                <a href="{% url 'applicant_details' item.job_id item.seeker_id  %}"> <button  class="btn-sm btn-info">

                                    More Details
                                </button></a>
                            </td>

                        </tr>



                {% endfor %}

                </tbody>
                </table>

                </div>


            {% else %}

                <div class="text-center">

                    <h6 style="margin-top: 100px;color: #c9302c" > You dont have any applicants currently </h6>


                </div>



            {% endif %}


    </div>











{%  endblock %}