{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="{% static  'ojss_app/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static  'ojss_app/css/main.css' %}"/>
  <title>Calendar App</title>
</head>
<body>

{% if request.user.is_seeker %}

     <!---  Base Page for seeker -->

<div class="container" >

    <div class="row">

        <div class="col-md-12">


            <nav class="navbar navbar-dark navbar-expand-md bg-dark">

        <a class="navbar-brand mx-5" href="#" style="font-size:40px" > OJSS </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" style="float:right"
                    data-target="#myToggleNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation" aria-expanded="false">
                  <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse clearfix" id="myTogglerNav">

            <div class="navbar-nav mx-auto" style="font-size: 20px">

                    <a class="navbar-item nav-link" href="#appliedjobs"> Applied Jobs </a>
                    <a class="navbar-item nav-link" href="{% url 'seeker_profile' %}"> Profile </a>
                    <a class="navbar-item nav-link" href="/"> Logout </a>

            </div> <!-- end of navbar nav -->


        </div> <!-- end of the nav items -->


            </nav>  <!-- end of navbar -->

        </div>

    </div>

</div>



    <div class="row border">

    </div>




    <div class="container">


        <div class="row">

            <div class="col-md-6">

                <label class="label form-control" for="searchText" style="background-color: transparent;
                color: #ffffff"> Search Keywords </label>

            </div>


             <div class="col-md-4">

                <label class="label form-control" for="searchCategory" style="background-color: transparent;
                color: #ffffff"> Search Category </label>

            </div>



        </div>







        <form  name="searchForm" type="GET" action="{% url 'search_list' %}" style="margin-top: -35px">


            <div class="form-row">

                    <div class="form-group col-md-6" >


                        <input class="form-control" type="text" placeholder="Search" style="background-color: #1a1a1a;
                                            color:#ffffff" id="searchText">


                    </div>



                    <div class="form-group col-md-4">

                        <select class="form-control" name="formSelect" style="margin-top: 20px; background-color: #1a1a1a;
                                            color:#ffffff" id="searchCategory">

                            <option value="Location">By Location</option>
                            <option value="Renumeration"> By Renumeration</option>
                            <option value="category"> By Job Category</option>

                        </select>


                    </div>


                    <div class="form-group col-md-2">

                        <button class="btn btn-success form-control" type="submit" style="margin-top: 20px"> Search </button>


                    </div>



            </div>






        </form>








    </div>

    {% else %}

    <!---  Base Page for recruiter -->

    <div class="container" >

    <div class="row">

        <div class="col-md-12">


            <nav class="navbar navbar-dark navbar-expand-md bg-dark">

        <a class="navbar-brand mx-5" href="#" style="font-size:40px" > OJSS </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" style="float:right"
                    data-target="#myToggleNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation" aria-expanded="false">
                  <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse clearfix" id="myTogglerNav">

            <div class="navbar-nav mx-auto" style="font-size: 20px">

                    <a class="navbar-item nav-link" href="#appliedjobs"> View Applicants </a>
                    <a class="navbar-item nav-link" href="{% url 'seeker_profile' %}"> Profile </a>
                    <a class="navbar-item nav-link" href="/"> Logout </a>

            </div> <!-- end of navbar nav -->


        </div> <!-- end of the nav items -->


            </nav>  <!-- end of navbar -->

        </div>

    </div>

</div>



    <div class="row border">

    </div>




    <div class="container">


        <div class="row">

            <div class="col-md-6">

                <label class="label form-control" for="searchText" style="background-color: transparent;
                color: #ffffff"> Search Keywords </label>

            </div>


             <div class="col-md-4">

                <label class="label form-control" for="searchCategory" style="background-color: transparent;
                color: #ffffff"> Search Category </label>

            </div>



        </div>







        <form  name="searchForm" type="GET" action="{% url 'search_list' %}" style="margin-top: -35px">


            <div class="form-row">

                    <div class="form-group col-md-6" >


                        <input class="form-control" type="text" placeholder="Search" style="background-color: #1a1a1a;
                                            color:#ffffff" id="searchText">


                    </div>



                    <div class="form-group col-md-4">

                        <select class="form-control" name="formSelect" style="margin-top: 20px; background-color: #1a1a1a;
                                            color:#ffffff" id="searchCategory">

                            <option value="Location">By Location</option>
                            <option value="Renumeration"> By Renumeration</option>
                            <option value="category"> By Job Category</option>

                        </select>


                    </div>


                    <div class="form-group col-md-2">

                        <button class="btn btn-success form-control" type="submit" style="margin-top: 20px"> Search </button>


                    </div>



            </div>






        </form>








    </div>

{% endif %}





    {%  block content %}
    {%  endblock content %}

</body>
<script src="{%  static 'ojss_app/js/script.js' %}"> </script>
<script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>